@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Background*/
  --bg: #0d0d0d;
  --bg-secondary: #131313;
  --bg-emphasis: #1d1d1d;
  --bg-inverted: #f0f0f0;
  --bg-inverted-emphasis: #e1e1e1;
  --bg-subtle: #262626;
  --bg-muted: #1c1c1c;
  --bg-error: #fef2f2;
  /*Border*/
  --border: #444444;
  --border-emphasis: #575757;
  --border-subtle: #2b2b2b;
  --border-muted: #262626;
  --border-error: #ef4444;
  /*Text*/
  --text: #d4d4d4;
  --text-inverted: #101010;
  --text-emphasis: #fafafa;
  --text-subtle: #a3a3a3;
  --text-muted: #525252;
  --text-inverted: #171717;
  --text-error: #ef4444;
  /*Border Radius*/
  --radius-sm: 0.25rem;
  --radius: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
  --radius-full: 999999rem;
}

@font-face {
  font-family: Geist;
  src: url(/font/Geist.woff2) format("woff2");
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Geist, Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  box-sizing: border-box;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.2s ease;
}

input {
  font-family: Geist;
}

input[type="number"] {
}

button{
  font-family: Geist;
  outline:none;
  border:none;
  padding:0;
  margin:0;
}
span {
  font-family: Geist;
}
